@model TomasosPizzeria.ViewModel.MenuViewModel


<div class="div1">
    <img src="~/images/pasta3.jpg" alt="Pasta" style="width:100%" />
</div>
<div class="centrera">
    <hr />
    <h3 class="text-dark">Pastarätter</h3>
    <p class="text-dark">All pasta är tillagad med organiska ingredienser.</p>
    <hr />
</div>
<div class="card-columns">
    @foreach (var pasta in Model.matrattLista)
    {
        <div class="card card-body">
            <span class="float-right font-weight-bold">@pasta.Pris SEK</span>
            <h6 class="text-truncate">@pasta.MatrattNamn</h6>
            <p class="small"><i>@pasta.Beskrivning</i></p>
            <p class="small">

                @foreach (var item in Model.produkt.MatrattProdukt)
                {
                    if (pasta.MatrattId == item.MatrattId)
                    {
                        @item.Produkt.ProduktNamn <text>,&nbsp;</text>
                    }
                }
            </p>
            <button class="float-right btn btn-info btn-sm"><span class="glyphicon glyphicon-shopping-cart"></span>Lägg till</button>
        </div>
    }

</div>



